section.feedback
    h4.feedback__title.title Связаться со мной
    form.feedback__form
        label.feedback__block
            .feedback__label-text lorem
            +icon('user', 'link-class')
            input.feedback__name(type="text" name="name" placeholder="...")
        label.feedback__block
            .feedback__label-text lorem
            +icon('envelope', 'link-class')
            input.feedback__name(type="email" name="email" placeholder="...")
        label.feedback__block
            .feedback__label-text lorem
             +icon('message', 'link-class')
            textarea.feedback__name(name="text") Требуется наша помощь в создании сайта. Интересует сроки и цена вопроса. 
        button(type="sabmit") Отправить