section.hero
    .container.hero__container
       .hero__face
            .hero__foto
                //- +img('')
            .hero__data
                table
                    - var data= [ ['Проживаю', 'Городище'], ['Возраст', '39лет'], ['Родился', '31 декабря 1979'] ]
                    each row in data
                        tr
                            td #{row[0]}
                            td #{row[1]}
       .hero__content
            h3
                 .hero__welcome Привет меня зовут
                 .hero__name Сергей Проходцев
                 .hero__text.text
                    p Я занимаюсь разработкой современных сайтов и приложений. Мне нравиться делать интересные и современные проекты.
                    p Этот сайт я сделал в рамках обучения в школе онлайн образования Loftschool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво. 
