.parallax
    .parallax__layer(data-speed ="0.1")
        +image('content/Слой 8.png', 'parallax__image')
    .parallax__layer(data-speed ="0.13")
        +image('content/sloi 7.png', 'parallax__image')
    .parallax__layer(data-speed ="0.16")
        +image('content/grup 2.png', 'parallax__image')
    .parallax__layer(data-speed ="0.2")
        +image('content/sloi 13.png', 'parallax__image')
    .parallax__layer(data-speed ="0.23")
        +image('content/grup 2.1.png', 'parallax__image')
    .parallax__layer(data-speed ="0.25")
        +image('content/tush.png', 'parallax__image')
    .parallax__layer(data-speed ="0.28")
        +image('content/tush1.png', 'parallax__image')


