section.reveiws
    h4.reveiws__title.title Что обо мне говорят
    .reveiws__slider-controls
        button.reveiws__btn.reveiws__btn--prev(type='button')
        button.reveiws__btn.reveiws__btn--left(type='button')
    ul.reveiws__slider
        - for (var i=0; i<2; i++)
            li.reveiws__item
                text
                    p Этот парень проходил обучение веб-разработке не где-то, а в Loftschool! 4,5 месяца только самых тяжёлых испытаний и бессонных ночей!