section.values
    .container.values__container
            .values__wrapper
                .values__title
                    .values__title-container
                        .values__title-text Чем я могу быть полезен вам
                        .values__content
                            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                .values__widget
                    #skills-component
    include skills/skills-component