mixin socials(mod)
    ul(class='socials socials--' + mod)
        - var items = [{name: 'insta', href: '#'}, {name: 'vk', href: '#'}, {name: 'github', href: '#'}];
        each item in items
            li.socials__item
                a(href=item.href).socials__link
                  +icon(`${item.name}`, 'socials__icon')