.welcome-section
    h2.welcome-section__title        Личный сайт веб-разработчика
    h1.welcome-section__name-title Сергей Проходцев
    a.welcome-section__scroll Скролл
    //-    +icon('images/icons/scroll.svg')