.header {
    display: flex ;
    justify-content: space-around;
    width: 100%;
    padding-top:64px;
    /* position: absolute; */
    
}
.main-menu__list {
    display: flex;
    justify-content: space-between;
    color:#fff;
    font-size: 16px;
    margin-right: 10px;
    text-decoration: none;

}
.socials{
    display: flex;
    justify-content: space-around;
    width:33%;
}
.socials__item {
    width:31px;
    color:grey;

}
.logo {
    color:#fff;
    font-size: 36px;
}