.welcome-section {
    display: flex;
    justify-content:center;
    align-items:flex-end;
    padding-top:300px;
    color:#fff;
}
.welcome-section__title{
    width:187px;
    font-size: 18px;
    color: #ffffff;
    padding-right:30px;
    /* font-family: 'OpenSans-SemiBold'; */
}
.welcome-section__name-title{
    width:504px;
    font-size: 72px;
    line-height: 60px;
    color:#ffffff;
}