include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .maincontent__welcome-bg 
          include componets/parallax
          .welcome
            .container
              include componets/header
              include componets/welcome-section
              a.welcome-section__scroll Скролл
                
          include componets/hero
        include componets/skill
        include componets/works
        .maincontent__autumn-bg
          .container
            include componets/reveiws
            include componets/feedback
        include componets/footer
        
        //- +image('content/user.jpg', 'user-pic')
        //- +icon('link', 'link-class')
        //- .icon-bg